.col{
    height: 100px;
    width: 100px;
    border:2px solid black;
    margin:2rem;
    border-radius: 20px;
}

.row{
    display:flex;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

h1,h2{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.green{
    background-color: rgb(26,233,167);
}

.red{
    background-color: rgb(244,31,0);
}

.blue{
    background-color: rgb(67,167,209);
}

.yellow{
    background-color: rgb(159,249,46);
}

.flash{
    background-color: white;
}

.gameFlash{
    background-color: blueviolet;
    transition: all 0.5 ease-in-out;
}